<div class="car-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/supermercados" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active">Registro</li>
        </ol>
    </nav>
    <div class="container-fluid car-container pb-3">
        <div class="py-3">
            <h2 class="fw-bold">Carrinho</h2>
        </div>
        <div id="supermercados"></div>
        <hr class="my-5">
    <form action="/addPedido/{{idC}}" method="POST">
        <!-- Endereço -->
        <h4 class="mb-4">Endereço</h4>
        <select class="form-select" id="carrinhoEndereco" name="endereco">
            <option selected>Selecione o endereço de entrega</option>
            {{#each endereco}}
            <option value={{idEndereco}}>{{apelido}}</option>
            {{/each}}
        </select>

        <!-- Final do endereço -->

        <hr class="my-5">

        <!-- Método de pagamento -->
        <h4 class="mb-4">Método de pagamento</h4>
        <!-- Guarda os links -->
        <div class="metodo-pag">
            <p>
                <a class="a-metodo text-muted text-decoration-none dropdown-toggle me-3" data-bs-toggle="collapse"
                    href="#collapseDinheiro" role="button">
                    Dinheiro
                </a>

                <a class="a-metodo text-muted text-decoration-none dropdown-toggle me-3" data-bs-toggle="collapse"
                    href="#collapseCartao" role="button">
                    Cartão
                </a>

                <!-- <a class="a-metodo text-muted text-decoration-none dropdown-toggle me-3" data-bs-toggle="collapse"
                    href="#collapsePix" role="button">
                    Pix
                </a> -->
            </p>

            <!-- Guarda as expansões dos links -->
            <!-- Dinheiro -->
            {{!-- <div class="collapse" id="collapseDinheiro">
                <div class="card card-body">
                    <form>
                        <div class="col-2">
                            <label for="inputDinheiro" class="form-label">Troco para</label>
                            <input type="text" class="form-control" id="inputDinheiro">
                        </div>
                    </form>
                </div>
            </div> --}}

            <!-- Cartão de crédito-->
            <div class="collapse" id="collapseCartao">
                <div class="card card-body">
                    <select class="form-select" id="carrinhoCartao" name="cartao">
                        <option selected>Selecione o cartão</option>
                        {{#each cartao}}
                        <option value={{idMetodoPagamento}}>{{numero}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <!-- Pix -->
            <!-- <div class="collapse" id="collapsePix">
                <div class="card card-body">
                    <form>
                        <div class="col-2">
                            <label for="inputPix" class="form-label">Chave Pix</label>
                            <input type="text" class="form-control" id="inputPix">
                        </div>
                    </form>
                </div>
            </div> -->
            <!-- Final das expansões -->

        </div>

        <button class="btn btn-primary shadow-none" type="submit">Finalizar a compra</button>
        </form>

    </div> <!-- /div do container -->

</div>
<script defer>
    window.onload = (event) => {
        const divsup = document.getElementById('supermercados');
        let htmlDivSup = ''
        for (let supermercado in cart) {
            let total = {{frete}};
            console.log(metaCart)
            console.log(metaCart.supermercado[supermercado])
            htmlDivSup += `
                    <div class="py-2">
                    <h3>${metaCart.supermercado[supermercado]}</h3>
                </div>
                <ul class="list-group mb-3"> <!-- Lista de itens -->`
            for(let produto in cart[supermercado]){
                total += parseFloat(metaCart.produto[produto].preco);
                htmlDivSup += `
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <p class="my-0">${metaCart.produto[produto].nome}</p>
                </div>
                <span class="text-muted">${parseFloat(metaCart.produto[produto].preco).toLocaleString('pt-br', {
                style: 'currency',
                currency: 'BRL'
                })}</span>
                </li>
                `;
                console.log(metaCart.produto[produto])
            }
            htmlDivSup += `
                <!-- Total -->
                <li class="list-group-item d-flex justify-content-between" style='visibility:false; border: 0px;'></li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Taxa de entrega</span>
                <span class="text-muted">${parseFloat({{frete}}).toLocaleString('pt-br', {
                style: 'currency',
                currency: 'BRL'
            })}</span>
              </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Total</span>
              <strong>${parseFloat(total).toLocaleString('pt-br', {
                style: 'currency',
                currency: 'BRL'
            })}</strong>
            </li></ul>`
        }
        divsup.innerHTML = htmlDivSup;
    };

    // console.log(metaCart)

</script>