<div class="titulo bg-dark py-3 text-center" style="color: white;">
    <h3>{{superMercado.nome}}</h3>
    <div class="container text-center">
        <form class="row g-3" method="get" action="">
            <div class="col-auto col-6">
                <input name="busca" class="form-control" type="text" placeholder="Buscar um produto ou categoria"
                {{#if busca}}value="{{busca}}"{{/if}}
                >
            </div>
            <div class="col-auto">
                <select name="corredor" class="form-select" aria-label="Default select example">
                    <option value="-1">Selecionar Corredor</option>

                    {{#each corredores}}
                        <option value="{{this.idCorredor}}" {{#ifCond ../corredor '==' this.idCorredor}}selected{{/ifCond}}>
                            {{this.nome}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input name="oferta" class="form-check-input" type="checkbox" value="1" id="flexCheckChecked"
                        {{#if oferta}}
                           checked
                        {{/if}}
                    >
                    <label class="form-check-label" for="flexCheckChecked">
                        Oferta
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
            </div>
        </form>
    </div>
</div>
<!-- Supermercados -->
<div class="container container-ofertas py-4 text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/supermercados" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active">{{superMercado.nome}}</li>
        </ol>
    </nav>
    <!-- Cards dos itens -->
    <!-- Cada linha contém no máximo 4 cards -->

    <div class="row row-cols-2 row-cols-lg-4 g-3">
        {{#each produtos}}
            <div class="col">   <!-- Card do item -->
                <div class="card card-item text-start">
                    <img src="/img/produtos/{{this.foto}}"
                         onerror="this.onerror=null; this.src='/img/not-found-image.png'" class="card-img-top"
                         alt="Foto do item">
                    <div class="card-body">
                        <h5 class="card-title fw-normal produto-title" style="color: #142637;min-height: 90px;">
                            <strong>{{this.nome}}</strong></h5>
                        <button type="button" class="btn btn-secondary --bs-primary" style="background-color: #24416B"
                            onclick="clickCorredor({{this.idCorredor}})">
                            {{this.corredor}}
                        </button>
                        <p style="min-height: 170px;">{{breafing this.descricao}}</p>
                        <div class="preco mt-4">
                            <p class="text-muted text-decoration-line-through">{{parserMoney this.preco}}</p>
                            <p class="fw-bold">{{parserMoney this.precoDesconto}}</p>
                            <button class="btn w-100 mt-2 btn-primary shadow-none"
                                    onclick="addCart(
                                        {{../idSuperMercado}},
                                        {{this.idProduto}},
                                            '{{this.nome}}',
                                            '{{this.precoDesconto}}',
                                            '{{../superMercado.nome}}'
                                            )"
                            >Adicionar ao Carrinho
                            </button>
                        </div>
                    </div>
                </div>
            </div> <!-- Final do item -->
        {{/each}}
    </div>
</div>

<script>
    var idSuperMercado = {{idSuperMercado}};
    function clickCorredor(val){
        location.replace(`/supermercados/${idSuperMercado}?corredor=${val}&oferta={{#if oferta}}1{{/if}}&busca={{#if busca}}{{busca}}{{/if}}`)
    }

</script>